
<!DOCTYPE html><html><head>
<title>Dashboard</title>
<link rel="stylesheet" href="static/css/styles.css">
</head><body>

<div class="sidebar">
   <div class="sidebar-logo">
  <img src="static/images/logo.png" alt="TenantAI Logo">
</div>
<a href="/dashboard" class="active">Dashboard</a>
<a href="/upload">File Uploads</a>
<a href="/brands">Brands</a>
<a href="/agents">Agents</a>
<a href="/sessions">User Chat Sessions</a>
<a href="/chat-requests">User Chat Requests</a>



</div>

<div class="header">
  <h1>Dashboard</h1>
  <div>Tenant: {{tenant}}</div>
</div>

<div class="main">
  <div class="card">User chats per day (graph placeholder)</div>
  <div class="card">User list and audit logs</div>
  <div class="card">Keywords & improvement questions</div>
</div>
</body>
<script src="/static/script/auth.js"></script>
</html>
