<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

<div class="auth-wrapper">
  <div class="logo-container">
    <img src="static/images/logo/logo-no-bg.png" alt="TenantAI Logo" class="logo">
  </div>
<form action="/signin" method="post" enctype="application/x-www-form-urlencoded">
  <div class="card auth-card">
    <h2>Agent Login</h2>

    <input type="text" placeholder="Username" name="username" required>
    <input type="password" placeholder="Password" name="password" required>

    <button style="margin-top:10px;">Login</button>
  </div>
  </form>
{% if message %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endif %}

</div>

</body>
</html>
